.logo-inner a {
  color: #000000;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  transition: all 0.4s ease;
  text-transform: uppercase;
}

.section_image {
  background: #f4f4f4;
  padding: 50px 0;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-form {
  background-color: #f9f9ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.comment-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input {
  width: calc(50% - 10px);
  display: inline-block;
}

.form-group input:first-child {
  margin-right: 20px;
}

.form-group textarea {
  width: 100%;
  height: 100px;
}

.submit-btn {
  width: 200px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  left: calc(100% - 200px);
}

.blog-post-area.section-gap {
  padding: 40px;
}

.header-top .active {
  position: relative;
}

.header-top .active::after {
  content: "";
  position: absolute;
  bottom: -10px; /* This creates the 20px gap */
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: currentColor; /* Same color as the text */
}

.blog-post-area.section-gap {
  padding-top: 140px !important;
}

.section_image {
  background: #f4f4f4;
  padding: 20px 0 1px 0;
  margin-top: 0;
}
.widget-wrap .single-sidebar-widget {
  padding: 20px;
}
.blog_img {
  height: 350px;
  object-fit: cover;
}
.popular_img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.blogs_see {
  justify-content: space-between !important;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.menu-right .nav-item .nav-link {
  padding: 0;
}

.header-top.d-flex.justify-content-between.align-items-lg-center.navbar-expand-lg {
  height: 100px !important;
}
.slider_imgs {
  height: 70vh !important;
  object-fit: cover;
}
.owl-item {
  margin-left: 25px !important;
}
.header_fluid {
  height: calc(100vh - 100px) !important;
  overflow: hidden;
}

.blog_decr {
  height: 96px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to clamp */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.owl-dots {
  display: none;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.swiper-pagination-bullet {
  background: #333;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

/* Custom styles to remove navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Ensure swiper stops autoplay on hover */
.swiper:hover {
  cursor: pointer;
}

.swiper-slide h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.swiper-slide q {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to clamp */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

input.error,
textarea.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  display: block;
  margin-top: 0.25rem;
}

/* Feedback Modal Styles */
.feedback-modal {
  position: fixed;
  top: 160px;
  right: 20px;
  height: 50px;
  width: 200px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.feedback-message {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.feedback-message.success {
  background-color: #28a745; /* Green for success */
  width: 100%;
  text-align: center;
}

.feedback-message.error {
  width: 100%;
  background-color: #dc3545; /* Red for error */
  text-align: center;
}

.feedback-message.show {
  opacity: 1;
}

/* Input error styles */
input.error,
textarea.error {
  border: 2px solid #dc3545; /* Red border for errors */
}
.sarousel_img {
  width: 100%;
}
.swiper {
  max-width: 648px !important;
}

@media (max-width: 768px) {
  .slider_imgs {
    height: 45vh !important;
  }
  .home-banner-area .owl-carousel .owl-stage {
    left: -100px !important;
  }
  .home-banner-area .container-fluid:after {
    display: none;
  }
  .home-banner-area .container-fluid {
    margin-top: 60px;
  }
  .owl-carousel.owl-drag .owl-item {
    width: 100vw !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0 !important;
  }
  .blog-post-area.section-gap {
    padding-top: 0 !important;
  }
  .container {
    width: 100% !important;
  }
  .blog-post-area.section-gap {
    padding: 10px !important;
  }
  .blog_img {
    height: 206px;
    object-fit: cover;
  }
  .logo-outer {
    top: 35px;
  }
  .swiper {
    max-width: 420px !important;
  }
  .section_image {
    margin-top: 110px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.footer-right {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.social-icon:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #bbb;
  text-transform: lowercase;
}
.header-wrap {
  display: block !important;
}
/* Media Queries */
.header_wrap_mobile {
  display: none;
}

/* For tablets */
@media (max-width: 768px) {
  .header_wrap_mobile {
    display: flex;
    height: max-content;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header_wrap_mobile a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
  }
  .navbar_toggler {
    border: none;
    outline: none;
    border-radius: 4px;
  }
  .navbar_toggler i {
    font-size: 20px !important;
    border: none;
    outline: none;
    padding: 4px;
  }
  .nav-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .nav-item .nav-link {
    text-transform: capitalize !important;
    font-size: 18px;
  }
  .header-wrap {
    display: none !important;
  }
  .mobile_nav {
    position: absolute !important;
    left: 0;
    top: 80px;
    background: #dfdfdf;
    width: 100%;
    height: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .mobile_nav_act {
    top: -400px;
  }
  .mobile_nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: color 0.3s ease;
    margin-bottom: 15px;
    text-align: right;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    margin-bottom: 10px;
  }

  .footer-right {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .social-icon {
    font-size: 18px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .footer-left h2 {
    font-size: 20px;
  }

  .social-icon {
    font-size: 16px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}
